:root {
  --bg-color: #dfe6e9;
  --color: #212529;
  --min-color: #2d3436;
  --sec-color: #636e72;
  --slide-color: #becacf;
  --slideB-color: #66bb6a;
  --shadow-color: gray;
  --table-back-title-color: #6a7b80;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  margin: 0px;
}

/*--------------------------------------------------------------------------*/

.layoutTime {
  z-index: 1;
}

.chrono {
  grid-area: timer;
  margin-top: 100px;
}

.timer {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 10vw;
  user-select: none;
  cursor: pointer;
  animation-name: fade-effect;
  animation-duration: 2s;
}

@keyframes fade-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animatedPause {
  opacity: 0.5
}

#hour,
#minute, 
#seconds{
  color: var(--min-color);
}

#milliseconds {
  display: none;
}

/*layout for desktop----------------------------------------------------*/

@media screen and (min-width: 768px) {
  .layoutTime {
    display: grid;
    grid-template-areas: "timer";
  }
}
